*{
    background-color: aliceblue;
    /* border: .1rem solid black; */
}
.main-container{
    width: 1100px;
    margin: auto;
    background-color: rgb(41, 41, 41);
    position: relative;

}
.child-container {
    width: 22%;
    height: 150px;
    margin: 1%;
    float: left;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.clear{
    clear: both;
}
.red{
    border-left: 5px solid red;
}
.blue{
    border-left: 5px solid blue;
}
.green{
    border-left: 5px solid green;
}
.orange{
    border-left: 5px solid orange;
}

/* Now its time use media query to make responsive */

@media screen and (min-width:200px) and (max-width:600px) {
    .main-container{
        width: 100%;
    }
    .child-container{
        width: 96%;
    }
}
@media screen and (min-width: 601px) and (min-width: 601px){
    
}
