body{
    margin: 0;
    overflow: hidden;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* margin-top: 4rem; */
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 4rem; */
    
}

.form-container{
    position: relative;
    background-color: rgba(34, 28, 29, 0.822);
    max-width: 40rem;
    height: 90vh;
    text-align: center;
    /* margin: auto; */
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0 0 5px 5px black;
    /* border: .1rem solid green; */
}
.form-container h1{
    color: rgb(8, 201, 201);
    font-weight: bolder;
}

.input-style{
    margin-bottom: 1rem;
    

}
.input-style input{
    display: inline-block;
    width: 36rem;
    height: 1.5rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom: 1.5rem;
}
.input-style input:hover{
    scale: 1.01;
}
.btn-style{
    width: 10rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
a{
    color: rgb(8, 201, 201);
}
.btn-style:hover{
    background-color: rgb(8, 201, 201);
    color: aliceblue;
    scale: 1.03;
}
.valid-display{
    position: absolute;
    bottom: 7rem;
    left: 1.5rem;
    text-align: start;
    color: rgb(206, 0, 0);
    font-size: 1.1rem;

}
#confirm{
    color: red;
    position: absolute;
    bottom: 15.5rem;
    right: 3.5rem;
}
#check{
    scale: 1.5;
    margin-left: 1rem;
}
#message{
    font-size: 1.2rem;
    color: aliceblue;
}

/* Its time to make responsive signUp page using media selector */
@media screen and (min-width:1200px) {
    .form-container{
        width: 100vh;
    }
    .input-style input{
        max-width: 50rem;
    }
}

@media screen and (max-width:600px){
    .container{
        width: auto;
        padding: 1rem;
    }
    .form-container{
        width: auto;
        height: auto;
    }
    .input-style input{
        max-width: 25rem;
    }
    .valid-display{
        font-size: 10px;
        bottom: 5rem;
        left: 1rem;
    }
    .btn-style{
        width: fit-content;
    }
    #confirm{
        bottom: 10rem;
        right: 2rem;
    }
}
@media screen and (max-width:500px) {
    .input-style input{
        max-width: 20rem;
    }
    .valid-display{
        font-size: 10px;
        bottom: 5rem;
        left: 1rem;
    }
    .btn-style{
        width: fit-content;
    }
}
@media screen and (max-width:400px) {
    .input-style input{
        max-width: 18rem;
    }
    .valid-display{
        font-size: 10px;
        bottom: 5rem;
        left: 1rem;
    }
    .btn-style{
        width: fit-content;
    }
}
@media screen and (min-width:800px){
    .form-container{
        width: auto;
        height: auto;
    }
    .valid-display{
        font-size: 10px;
        bottom: 5rem;
        left: 1rem;
    }
    .btn-style{
        width: fit-content;
    }
    #confirm{
        bottom: 10rem;
        right: 2rem;
    }
}