body{
    margin-top: 0px;
    margin-left: 0px;
    overflow: hidden;
    
}
.container{
    min-height: 100vh;
    /* margin-top: 4rem; */
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    
}

.form-container{
    background-color: rgb(34, 28, 29);
    max-width: 30rem;
    text-align: center;
    margin: auto;
    border-radius: .5rem;
    padding: 1.1rem;
    box-shadow: 0 0 5px 5px black;
    /* border: .1rem solid green; */
}
.form-container h1{
    color: rgb(8, 201, 201);
    font-weight: bolder;
}

.input-style{
    margin-bottom: 1rem;
    

}
.input-style input{
    display: inline-block;
    width: 28rem;
    height: 1/5rem;
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom: 1.5rem;
}
.input-style input:hover{
    scale: 1.01;
}
.btn-style{
    width: 10rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}
a{
    color: rgb(8, 201, 201);
}
.btn-style:hover{
    background-color: rgb(8, 201, 201);
    color: aliceblue;
    scale: 1.03;
}